:root {
  --back: #202020;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  color: #2cce00;
}
a:hover {
  color: red;
}
a:visited {
  text-decoration: none;
}
input,select{
  font-family: 'Poppins', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
hr{
  border: none;
  border-bottom: 1px solid black;
}
code{
  background-color: rgba(255,255,255,0.4);
  padding: 0px 3px;
  border-radius: 4px;
}

@media screen and (min-width: 65em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: var(--no1);
    color: var(--no4);
    font-size: 16px;
    margin: 0;
    padding: 0;
    width:100%;
  }
  .navigator{
    font-size: 20px;
    max-width: 1200px;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo:hover{
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .nav-link{
    padding: 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
  .nav-link:hover{
    color: darkblue;
    border-bottom: 2px solid darkblue;
  }
  .active{
    color: darkblue;
    border-bottom: 2px solid darkblue;
  }
  .dropdown{
    position: relative;
    display: inline-block;
  }
  .drop-content{
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: rgb(0, 0, 0, 0.8);
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5);
    margin-top: 22px;
    z-index: 3;
  }
  .dropdown:hover .drop-content {
    display: block;
  }
  .drop-item{
    padding: 8px 15px;
    color: white;
    text-align: center;
    display: block;
    margin: 0px;
  }
  .drop-item:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
  }


  .objective{
    max-width: 1200px;
    margin: 0px auto;
    padding: 40px 0px;
  }
  .obj-name{
    padding-bottom: 30px;
  }
  .obj-name span{
    display: block;
    color: green;
    font-weight: bold;
  }
  .obj-name b{
    font-size: 25px;
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .obj-div{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .obj-item{
    padding: 10px;
    margin: 0px 10px;
    width: 1000px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
  }
  .obj-item b{
    display: block;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    color: green;
  }
  .center{
    text-align: center;
  }
  .center div{
    padding: 5px;
  }
  .social{
    margin: 0px 5px;
  }
  .calendar{
    display: block;
    margin: 0px auto;
  }
  .achieve-div img{
    display: block;
    max-width: 95%;
    margin: 0px auto;
    text-align: center;
  }
  .achieve-item{
    padding: 10px;
    margin: 10px;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    cursor: pointer;
  }
  .achieve-item:hover{
    color: rgba(0, 0, 0, 1);
    box-shadow: 0px 3px 8px rgba(0,0,255,0.5);
    border-radius: 5px;
    cursor: pointer;
  }
  .achieve-item h3{
    padding: 7px 0px;
    margin: 0px;
  }
  .achieve-item span{
    display: block;
    color: green;
  }
  .team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .person{
    padding: 10px 20px;
    text-align: center;
  }
  .person img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    border: 1px solid black;
  }


  .course-item{
    padding: 10px 0px;
    max-width: 280px;
    font-size: 14px;
    margin: 0px 10px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .course-item:hover{
    box-shadow: 0px 5px 5px rgba(256,0,0,0.5);
  }
  .course-item img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
  }
  .course-item b{
    display: block;
    padding: 5px;
    margin: 0px;
    font-size: 18px;
    color: green;
  }

  .footer{
    background-color: #343a40;
    padding: 40px 0px;
    text-align: center;
    color: white;
  }
  .foot{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: left;
    padding: 0px 10px;
    padding-bottom: 30px;
  }
  .foot b{
    font-size: 20px;
    display: block;
    padding: 5px 0px;
    margin: 0px;
  }
  .foot img{
    padding: 0px;
    margin: 0px;
    background-color: white;
    border-radius: 50%;
    width: 50px;
  }











}
