:root {
  --back: #202020;
  font-family: 'Poppins', sans-serif;
}

a{
  text-decoration: none;
  color: #2cce00;
}
a:hover {
  color: red;
}
a:visited {
  text-decoration: none;
}
input,select{
  font-family: 'Poppins', sans-serif;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
input[type=number] {
  -moz-appearance: textfield;
}
hr{
  border: none;
  border-bottom: 1px solid black;
}
code{
  background-color: rgba(255,255,255,0.4);
  padding: 0px 3px;
  border-radius: 4px;
}


.hello {
  opacity: 1 !important;
}
.full {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}
.full .content {
  background-color: rgba(0,0,0,0.75) !important;
  height: 100%;
  width: 100%;
  display: grid;
}
.full .content img {
  object-fit: cover;
  left: 50%;
  transform: translate3d(0, 0, 0);
  animation: zoomin 1s ease;
  max-width: 95%;
  max-height: 95vh;
  margin: auto;
}
.byebye {
  opacity: 0;
}
.byebye:hover {
  transform: scale(0.2) !important;
}
.gallery {
  display: grid;
  grid-column-gap: 8px;
  grid-row-gap: 8px;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  grid-auto-rows: 8px;
}
.gallery img {
  max-width: 100%;
  border-radius: 8px;
  box-shadow: 0 0 16px #333;
  transition: all 1.5s ease;
}
.gallery img:hover {
  box-shadow: 0 0 32px #333;
}
.gallery .content {
  padding: 4px;
}
.gallery .gallery-item {
  transition: grid-row-start 300ms linear;
  transition: transform 300ms ease;
  transition: all 0.5s ease;
  cursor: pointer;
  text-align: center;
}
.gallery .gallery-item:hover {
  transform: scale(1.025);
}




@media screen and (min-width: 65em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    background-color: var(--no1);
    color: var(--no4);
    font-size: 16px;
    margin: 0;
    padding: 0;
    width:100%;
  }
  .navigator{
    font-size: 20px;
    max-width: 1200px;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo:hover{
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    border-radius: 10px;
  }
  .nav-link{
    padding: 20px;
    color: black;
    font-weight: bold;
    cursor: pointer;
  }
  .nav-link:hover{
    color: darkblue;
    border-bottom: 2px solid darkblue;
  }
  .active{
    color: darkblue;
    border-bottom: 2px solid darkblue;
  }
  .dropdown{
    position: relative;
    display: inline-block;
  }
  .drop-content{
    display: none;
    position: absolute;
    min-width: 160px;
    background-color: rgb(0, 0, 0, 0.8);
    box-shadow: 0px 5px 10px rgb(0, 0, 0, 0.5);
    margin-top: 22px;
    z-index: 3;
    transform: translateX(-15%);
  }
  .dropdown:hover .drop-content {
    display: block;
  }
  .drop-item{
    padding: 8px 15px;
    color: white;
    text-align: center;
    display: block;
    margin: 0px;
  }
  .drop-item:hover{
    color: white;
    background-color: rgba(255, 255, 255, 0.3);
  }


  .objective{
    max-width: 1200px;
    margin: 0px auto;
    padding: 30px 0px;
  }
  .obj-name{
    padding-bottom: 10px;
  }
  .obj-name span{
    display: block;
    color: green;
    font-weight: bold;
  }
  .obj-name b{
    font-size: 25px;
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .obj-div{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .obj-item{
    padding: 10px;
    margin: 0px 10px;
    width: 1000px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
  }
  .obj-item b{
    display: block;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    color: green;
  }
  .center{
    text-align: center;
  }
  .center div{
    padding: 5px;
  }
  .social{
    margin: 0px 5px;
  }
  .calendar{
    display: block;
    margin: 0px auto;
  }
  .achieve-div img{
    display: block;
    max-width: 600px;
    max-height: 500px;
    margin: 0px auto;
    text-align: center;
  }
  .achieve-item{
    padding: 10px;
    margin: 10px;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    cursor: pointer;
  }
  .achieve-item:hover{
    color: rgba(0, 0, 0, 1);
    box-shadow: 0px 3px 8px rgba(0,0,255,0.5);
    border-radius: 5px;
    cursor: pointer;
  }
  .achieve-item h3{
    padding: 7px 0px;
    margin: 0px;
  }
  .achieve-item span{
    display: block;
    color: green;
  }
  .team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .person{
    padding: 10px 20px;
    text-align: center;
  }
  .person img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 1px solid black;
    display: block;
    margin: 0px auto;
    text-align: center;
  }
  .person2{
    padding: 10px 20px;
    text-align: center;
  }
  .person2 img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    display: block;
    margin: 0px auto;
    text-align: center;
  }

  .magz-item-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
  }
  .magz-item-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }
  .div20{
    width: 20%;
    padding: 0px 10px;
  }
  .div20 img{
    width: 100%;
  }
  .div80{
    width: 80%;
    padding: 0px 10px;
  }
  .div80 h2{
    padding: 0px;
    margin: 0px;
  }
  .button{
    display: inline-block;
    margin: 0px auto;
    padding: 8px 15px;
    background-color: darkgreen;
    color: white;
    border: 2px solid darkgreen;
    border-radius: 5px;
  }
  .button:hover{
    background-color: rgba(0,0,0,0);
    color: darkgreen;
  }
  .padding{
    margin: 5px;
  }
  .flex{
    display: flex;
  }

  .seminar-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .seminar-info2{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }

  .post-image{
    width:300px;
    padding:10px;
  }


  .course-item{
    padding: 0px 0px;
    max-width: 280px;
    font-size: 14px;
    margin: 10px 10px;
    box-shadow: 0px 5px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .course-item:hover{
    box-shadow: 0px 5px 5px rgba(256,0,0,0.5);
  }
  .course-item img{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 5px 5px 0px 0px;
  }
  .course-item b{
    display: block;
    padding: 5px;
    margin: 0px;
    font-size: 18px;
    color: green;
  }


  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(30%, 1fr));
  }


  .footer{
    background-color: #343a40;
    padding: 40px 0px;
    text-align: center;
    color: white;
  }
  .foot{
    max-width: 1200px;
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: left;
    padding: 0px 10px;
    padding-bottom: 30px;
  }
  .foot b{
    font-size: 20px;
    display: block;
    padding: 5px 0px;
    margin: 0px;
  }
  .foot img{
    padding: 0px;
    margin: 0px;
    background-color: white;
    border-radius: 50%;
    width: 50px;
  }

  .katex {
    font-size: 1.2em;
    font-weight: 510;
  }
  .katex-display{
    margin: 8px 0px;
  }

  .bars{
    display: none;
  }



}


@media screen and (min-width: 0em) and (max-width: 65em) {
  html{
    width:100%;
    margin: 0px auto;
  }
  body{
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 12px;
    margin: 0;
    padding: 0;
    width:100%;
  }
  .navigator{
    font-size: 15px;
    margin: 0px auto 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .logo img{
    width: 120px;
    margin-left: 5px;
  }
  .logo:hover{
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
  }
  .bars{
    font-size: 25px;
    padding: 5px 12px;
  }
  .bars:hover{
    box-shadow: 0px 0px 8px rgba(0,0,0,0.2);
    border-radius: 50%;
  }
  .dropdownmenu{
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 6;
    background-color: rgba(0, 0, 0, 0.8);
    padding: 20px 0px;
    overflow: hidden
  }
  .nav-link{
    display: block;
    padding: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
    margin: 2px;
    text-align: center;
  }
  .nav-link:hover{
    color: white;
    border: 1px solid white;
    border-radius: 2px;
  }
  .drop-content{
    display: none;
    box-shadow: 0px 3px 5px rgb(255, 255, 255, 0.5);
    z-index: 3;
  }
  .dropdown:hover .drop-content {
    display: block;
  }
  .drop-item{
    color: white;
    text-align: center;
    display: block;
    margin: 1px;
  }
  .drop-item:hover{
    color: white;
    border: 1px solid white;
    border-radius: 2px;
  }

  .objective{
    margin: 0px auto;
    padding: 20px 0px;
  }
  .obj-name{
    padding: 10px;
  }
  .obj-name span{
    display: block;
    color: green;
    font-weight: bold;
  }
  .obj-name b{
    font-size: 18px;
    display: block;
    padding: 0px;
    margin: 0px;
  }
  .obj-div{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    flex-wrap: wrap;
  }
  .obj-item{
    padding: 5px;
    margin: 5px 10px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
  }
  .obj-item b{
    display: block;
    padding: 0px;
    margin: 0px 0px 10px 0px;
    color: green;
  }


  .center{
    text-align: center;
  }
  .center div{
    padding: 5px;
  }
  .social{
    margin: 0px 5px;
  }
  .calendar{
    display: block;
    margin: 0px auto;
  }
  .achieve-div img{
    display: block;
    max-width: 90%;
    margin: 0px auto;
    text-align: center;
  }
  .achieve-div p{
    padding: 10px;
    margin: 0;
  }

  .achieve-div2{
    padding: 10px;
  }
  .achieve-div2 img{
    display: block;
    max-width: 90%;
    margin: 0px auto;
    text-align: center;
  }
  .achieve-item{
    padding: 10px;
    margin: 10px;
    color: rgba(0, 0, 0, 0.8);
    box-shadow: 0px 3px 8px rgba(0,0,0,0.2);
    border-radius: 5px;
    cursor: pointer;
  }
  .achieve-item:hover{
    color: rgba(0, 0, 0, 1);
    box-shadow: 0px 3px 8px rgba(0,0,255,0.5);
  }
  .achieve-item h3{
    padding: 5px 0px;
    margin: 0px;
  }
  .achieve-item span{
    display: block;
    color: green;
  }


  .team{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
  }
  .person{
    padding: 5px 10px;
    text-align: center;
  }
  .person img{
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: 1px solid black;
    display: block;
    margin: 0px auto;
    text-align: center;
  }
  .person2{
    padding: 5px 10px;
    text-align: center;
  }
  .person2 img{
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid black;
    display: block;
    margin: 0px auto;
    text-align: center;
  }


  .magz-item-right{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    text-align: right;
  }
  .magz-item-left{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    text-align: left;
  }
  .div20{
    width: 30%;
    padding: 0px 5px;
  }
  .div20 img{
    width: 100%;
  }
  .div80{
    width: 70%;
    padding: 0px 5px;
  }
  .div80 h2{
    padding: 0px;
    margin: 0px;
  }
  .button{
    display: inline-block;
    margin: 0px auto;
    padding: 5px 10px;
    background-color: darkgreen;
    color: white;
    border: 1px solid darkgreen;
    border-radius: 5px;
  }
  .button:hover{
    background-color: rgba(0,0,0,0);
    color: darkgreen;
  }
  .padding{
    margin: 5px;
  }
  .flex{
    display: flex;
  }



  .seminar-info{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .seminar-info2 div{
    width: 98%;
  }
  .seminar-info2 img{
    width: 100%;
    max-height: 250px;
    object-fit: contain;
  }


  .course-item{
    padding: 0px;
    font-size: 12px;
    margin: 5px 10px;
    max-width: 250px;
    box-shadow: 0px 2px 5px rgba(0,0,0,0.2);
    border-radius: 5px;
    text-align: center;
    cursor: pointer;
  }
  .course-item:hover{
    box-shadow: 0px 2px 5px rgba(256,0,0,0.5);
  }
  .course-item img{
    width: 100%;
    border-radius: 5px 5px 0px 0px;
  }
  .course-item b{
    display: block;
    padding: 5px;
    margin: 0px;
    font-size: 15px;
    color: green;
  }
  .more2{
    display: inline-block;
    font-weight: bold;
    margin: 10px auto 0px auto;
    padding: 5px 10px;
    color: darkgreen;
    background-color: rgba(0,0,0,0);
    border: 1px solid darkgreen;
    border-radius: 5px;
  }
  .more2:hover{
    color: white;
    background-color: darkgreen;
  }

  .post-image{
    width:200px;
    padding:10px;
  }


  .gallery {
    grid-template-columns: repeat(auto-fill, minmax(50%, 1fr));
  }




  .footer{
    background-color: #343a40;
    padding: 20px 0px;
    text-align: center;
    color: white;
  }
  .foot{
    margin: 0px auto;
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    text-align: left;
    flex-wrap: wrap;
    padding: 0px 10px;
    padding-bottom: 20px;
  }
  .foot b{
    font-size: 15px;
    display: block;
    padding: 5px 0px;
    margin: 0px;
  }
  .foot img{
    padding: 0px;
    margin: 0px;
    background-color: white;
    border-radius: 50%;
    width: 35px;
  }
  .foot1{
    margin-bottom: 10px;
  }

  .hide{
    display: none;
  }



}
